<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Event</title>
    <link rel="icon" type="image/jpeg" href="/Personal_Task_Manager.jpeg">
    <style>
        body{font-family: Arial;padding:20px; background: url("/background.jpeg") no-repeat center/cover;}
        input,button{width:100%;padding:10px;margin-top:10px}
    </style>
</head>
<body>
<h1>Add Event</h1>

<form action="http://0.0.0.0:8000/auth/add-event" method="post">

    <label>Event Name</label>
    <input type="text" name="event_name" required>

    <label>Location</label>
    <input type="text" name="location" required>

    <label>Date</label>
    <input type="text" name="event_date" placeholder="YYYY-MM-DD" required>

    <label>Time</label>
    <input type="text" name="event_time" placeholder="HH:MM AM/PM" required>

    <button type="submit">Create Event</button>
</form>

</body>
</html>