<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Verify Email</title>
    <link rel="icon" type="image/jpeg" href="/Personal_Task_Manager.jpeg">
    <style>
        body{font-family:Arial;margin:24px auto;max-width:600px;padding:12px}
        label{display:block;margin-top:12px;font-weight:600}
        input,button{width:100%;padding:10px;margin-top:6px}
    </style>
</head>
<body style="background-image: url('/background.jpeg'); background-repeat: no-repeat; background-size: cover;">
<h1>Verify your Email</h1>
<form action="http://0.0.0.0:8000/user/verify-email" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" required placeholder="you@example.com">
    <br>
    <br>
    <label for="code">Verification code (OTP)</label>
    <input type="text" id="code" required placeholder="Enter 6-digit code">
    <p><small>(OTP will expire after 1 munit)</small></p>
    <button type="submit" style="margin-top:16px;">Verify Email</button>
<!--    <p class="hint">Account verified? <a href="login.html">Log-in</a></p>-->
</form>

</body>
</html>
